.checkbox-filter {
  background: #fff;
  border: 2px solid $color-primary;
  box-shadow: $box-shadow;

  &__legend {
    color: $color-primary;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 $spacing;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: none;
    margin: $spacing--small 0;

    @media(min-width: $container) {
      display: block;
    }
  }

  &__list-item {
    padding-bottom: $spacing--smaller;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__toggle {
    width: 100%;
    background: linear-gradient(45deg, $color-primary, $color-primary--light);
    display: block;
    height: $spacing--large;
    color: $color-white;

    &:before {
      color: $color-white;
      content: "Vis filter";
    }

    @media(min-width: $container) {
      display: none;
    }
  }

  &__toggle-icon {
    border-left: 2px solid $color-white;
    border-top: 2px solid $color-white;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    transform: translateY(-25%) rotate(-135deg);
  }

}

.checkbox-filter.--open {

  .checkbox-filter__list {
    display: block;
  }

  .checkbox-filter__toggle:before {
    content: 'Lukk'
  }

  .checkbox-filter__close-icon {
    display: inline-block;
  }

  .checkbox-filter__toggle-icon {
    transform: translateY(25%) rotate(45deg);
  }
}
