.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: $color-primary;
}

.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}
