.input {
  transition: all 0.2s ease;
  box-shadow: 0;
  outline: 0;
  border: 1px solid $color-primary--lighter;
  font-family: $font-primary, Helvetica, sans-serif;
  padding: 12px;
  display: inline-block;

  &:focus {
    box-shadow: 0px 0px 0px 4px $color-primary--lighter;
  }
}
