.input {
  transition: all 0.2s ease;
  box-shadow: 0;
  background: $color-white;
  outline: 0;
  height: $spacing--large;
  border: 1px solid $color-primary--lighter;
  font-family: $font-primary, Helvetica, sans-serif;
  padding: $spacing--small $spacing;
  display: inline-block;

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-primary--lighter;
  }
}
