.col {
  display: block;
  float: left;

  &.--main {
    width: 100%;
    padding-right: 0;

    @media (min-width: $desktop) {
      width: 65%;
      padding-right: $spacing;
    }

  }

  &.--half {
    width: 100%;
    padding-right: 0;

    @media (min-width: $desktop) {
      width: 50%;
      padding-right: $spacing;
    }
  }

  &.--sidebar {
    width: 100%;
    float: left;

    @media (min-width: $desktop) {
      width: 35%;
      float: right;
    }
  }
}
